body 
{
    background-color: lightgray;
}

.r1
{
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkgreen
}
.r2
{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: yellow
}
.p1
{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    size: 12px;
    color:red
}

